################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCWebAppTestAPI/.vs/MVCWebAppTestAPI/v17/.suo
/MVCWebAppTestAPI/.vs/MVCWebAppTestAPI/v17/.futdcache.v2
/MVCWebAppTestAPI/.vs/MVCWebAppTestAPI/DesignTimeBuild/.dtbcache.v2
*.1
